@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Titillium+Web:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothin: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --color-base-white: #ffffff;
    --color-base-gray-100: #e1e1e6;
    --color-base-gray-200: #8c8c99;
    --color-base-gray-300: #7c7c8a;
    --color-base-gray-400: #323238;
    --color-feedback-sucess-color: #1d8841;
    --color-produto-purple-light: #8257e5;
    --color-produto-purple-mid: #633bbc;

    font-size: 62.5%;
}

html, body, input, textarea, button {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
}

body {
    height: 100vh;
    
    
    background-color: #252844;
}

.container {
    height: 100vh;
    max-width: 180rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 3rem;
}
main {
    height: 100rem;
    width: 100%;
    display: flex;
    align-items: center;
}

form {
    padding: 3.2rem;
    border-left: 1px solid var(--color-base-gray-100);
    border-radius: .3rem;
    overflow: hidden;
    height: 100%;
    width: 60%;
}

.step-progress {
    display: flex;
    align-items: center;
    gap: 4rem;
    border-bottom: 1px solid var(--color-base-gray-100);
    padding-bottom: 3.2rem;
    flex-wrap: wrap;
    counter-reset: step;
}

.step-progress strong {
    display: flex;
    align-items: center;
    gap: .8rem;
    color:  var(--color-base-gray-200);
}
.step-progress strong.active{
    color: var(--color-base-gray-100);
}


.step-progress strong::before {
    counter-increment: step;
    content: counter(step);
    font-family: 'Titilium Web', sans-serif;
    font-size: 1.4rem;

    background-color: var(--color-base-gray-100);
    width: 2.8rem;
    height: 2.8rem;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-base-gray-400);
}

.step-progress .active::before {
    background-color: var(--color-produto-purple-mid);
    color: var(--color-base-white);
}


/* counter */

.step-progress .done::before {
    content: 'v';
    background-color: var(--color-feedback-sucess-color);
}

.content {
    margin-top: 8rem;
    display: grid;
    gap: 6rem;
}

.button-wrapper {
    margin-top: 3.2rem;
    display: flex;
    justify-content: space-between;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 3.2rem;

    border: 0;
    border-radius:.6rem;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 15.8rem;
    cursor: pointer;
}

.primary {
    background-color: var(--color-produto-purple-mid);
    color: var(--color-base-white);
}
.primary:hover {
    background-color: var(--color-produto-purple-light) ;
}
.secondary {
    background-color: var(--color-base-white);
    color: var(--color-produto-purple-mid);
    border: 1px solid var(--color-produto-purple-mid);
}

.justify-end {
    justify-content: flex-end;
}

label {
    font-weight: 700;
    color: var(--color-base-white);
    font-size: 1.8rem;
}

input, textarea {
    width: 100%;
    margin-top: 4px;
    padding: 1.6rem;
    background-color: var(--color-base-white);
    border: 1px solid var(--color-base-gray-200);
    border-radius: .5rem;
    margin-top: 2rem;
}

input::placeholder,
textarea::placeholder {
    color: var(--color-base-gray-300);
}

.form-step {
    display: block;
}

@keyframes  appear{
    0% {
        scale: .7;
        opacity: 0;
    }

}

@keyframes slideout {
    100% {
       transform: translateX(50%);
       opacity: 0; 
    }
}

.form-step {
    animation: slideout 200ms ease-in-out forwards;
}

.hide {
    display: none;
}

.form-step.active {
    animation: appear 200ms 100ms ease-in-out backwards;
}